.block_characters {
  padding: 30px;
}

.characters {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 20px;
  width: 80%;
  justify-content: space-evenly;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .characters {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .characters {
    width: 90%;
  }
}
@media (max-width: 350px) {
  .characters {
    width: 100%;
    justify-content: center;
    margin: 0;
  }
}