.block {
  background-color: #191a2c;
  width: 200px;
  border-radius: 20px;
  padding: 30px;
  color: white;
  height: 350px;
}

.img {
  width: 100%;
  border-radius: 15px;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-family: 'Tektur', cursive;
  font-size: 22px;
  font-weight: 400;
  margin: 10px 0;
}

.description {
  margin-top: auto;
  flex-direction: column;
}

.description p {
  margin: 5px 0;
}

.bold {
  font-weight: bold;
}

@media (max-width: 1000px) {
  .info {
    display: flex;
    flex-direction: column;
    height: 350px;
  }
}
@media (max-width: 620px) {
  .block {
    width: auto;
  }
  .info {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 700px;
  }
}