.modal {
  display: none;
}

.active_modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 26, 44, 0.411);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  border-radius: 20px;
}

.name {
  font-family: 'Tektur', cursive;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

.info {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img {
  height: 100%;
  border-radius: 10px;
}